<h1>About us </h1>
<p> We are working on our One Month Rails App! </P>
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d59670.76450672981!2d-102.80378061598108!3d20.814627395255442!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842927d6cd6fb1eb%3A0xc09f3194b644c3d7!2sTepatitl%C3%A1n+de+Morelos%2C+Jal.!5e0!3m2!1ses-419!2smx!4v1445723354412" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	