<h1>Team </h1>
<p>Meet the team </p>
<p>Kevin Arredondo <%= link_to "bio", "https://www.facebook.com/kevin.manica "%> CEO and Co-founder </p>
<p>Rodrigo Coutiño <%= link_to "bio", "https://es.wikipedia.org/wiki/Warren_Buffett" %> Co-founder </p>
<p> We are hiring...</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/Z9M69-CKWqQ" frameborder="0" allowfullscreen></iframe>v
